.privacy-glasses-blur
 :is(.nav-folder,.view-header-title-container,.inline-title,.cm-line,.tooltip,.workspace-tab-header-inner-title)
{
	filter: blur(var(--blurLevel));
}

/* visual content is much easier to recognize, so blur it more */
.privacy-glasses-blur
 :is(.media-embed,.image-container)
 :is(img,video,svg,canvas)
{
	filter: blur(calc(var(--blurLevel)*5));
}

.privacy-glasses-blur.privacy-glasses-reveal-on-hover
 :is(.nav-folder,.view-header-title-container,.inline-title,.cm-line,.tooltip,.workspace-tab-header-inner-title):hover
{
	filter: unset;
}

.privacy-glasses-blur.privacy-glasses-reveal-on-hover
 :is(.media-embed,.image-container):hover
 :is(img,video,svg,canvas)
{
	filter: unset;
}


/* blur by default, to avoid small unblurred delay when opening */

.workspace-leaf-content
 :is(.nav-folder,.view-header-title-container,.inline-title,.cm-line,.tooltip,.workspace-tab-header-inner-title)
{
	filter: blur(var(--blurLevel));
}

/* todo : switch to :has  */
.workspace-leaf-content.privacy-glasses-reveal
 :is(.nav-folder,.view-header-title-container,.inline-title,.cm-line,.tooltip,.workspace-tab-header-inner-title),

.privacy-glasses-reveal-on-hover
 .workspace-leaf-content
 :is(.nav-folder,.view-header-title-container,.inline-title,.cm-line,.tooltip,.workspace-tab-header-inner-title):hover
{
	filter: unset;
}

.privacy-glasses-blur-content
{
	filter: blur(var(--blurLevel));
}

.privacy-glasses-blur-content
 :is(img,video,svg,canvas)
{
	filter: blur(calc(var(--blurLevel) * 5));
}