.workspace-leaf-content.is-md-view :is(.inline-title, .cm-line, .view-header-title-container, .cm-callout),
.workspace-leaf-content.is-non-md-view,
.workspace-leaf-content.is-md-view-headlines-only :is(.cm-line, .cm-callout),
.privacy-glasses-blur-all .workspace-tab-header-inner-title,
.privacy-glasses-blur-all #quick-explorer,
.privacy-glasses-reveal-headlines .workspace-tab-header-inner-title,
.privacy-glasses-reveal-headlines #quick-explorer {
  filter: blur(calc(var(--blurLevel) * 1));
}

:is(.media-embed, .image-container) :is(img, video, svg, canvas) {
  filter: blur(calc(var(--blurLevel) * 5));
}

.privacy-glasses-reveal-under-caret .workspace-leaf-content.is-md-view :is(.inline-title, .cm-line, .view-header-title-container).inline-title:focus-within,
.privacy-glasses-reveal-under-caret .workspace-leaf-content.is-md-view :is(.inline-title, .cm-line, .view-header-title-container).cm-active,
.privacy-glasses-reveal-under-caret .workspace-leaf-content.is-non-md-view.inline-title:focus-within,
.privacy-glasses-reveal-under-caret .workspace-leaf-content.is-non-md-view.cm-active,
.privacy-glasses-reveal-under-caret .privacy-glasses-blur-all .workspace-tab-header-inner-title.inline-title:focus-within,
.privacy-glasses-reveal-under-caret .privacy-glasses-blur-all .workspace-tab-header-inner-title.cm-active,
.privacy-glasses-reveal-under-caret .privacy-glasses-blur-all #quick-explorer.inline-title:focus-within,
.privacy-glasses-reveal-under-caret .privacy-glasses-blur-all #quick-explorer.cm-active,
.privacy-glasses-reveal-under-caret :is(.media-embed, .image-container) :is(img, video, svg, canvas).inline-title:focus-within,
.privacy-glasses-reveal-under-caret :is(.media-embed, .image-container) :is(img, video, svg, canvas).cm-active,
.privacy-glasses-reveal-on-hover .workspace-leaf-content.is-md-view :is(.inline-title, .cm-line, .view-header-title-container, .cm-callout):hover,
.privacy-glasses-reveal-on-hover .workspace-leaf-content.is-non-md-view:hover,
.privacy-glasses-reveal-on-hover .workspace-leaf-content.is-md-view-headlines-only :is(.cm-line, .cm-callout):hover,
.privacy-glasses-reveal-on-hover .privacy-glasses-blur-all .workspace-tab-header-inner-title:hover,
.privacy-glasses-reveal-on-hover .privacy-glasses-reveal-headlines .workspace-tab-header-inner-title:hover,
.privacy-glasses-reveal-on-hover .privacy-glasses-blur-all #quick-explorer:hover,
.privacy-glasses-reveal-on-hover :is(.media-embed, .image-container) :is(img, video, svg, canvas):hover,
.privacy-glasses-reveal.workspace-leaf-content.is-md-view :is(.inline-title, .cm-line, .view-header-title-container),
.privacy-glasses-reveal.workspace-leaf-content.is-non-md-view,
.privacy-glasses-reveal.privacy-glasses-blur-all .workspace-tab-header-inner-title,
.privacy-glasses-reveal.privacy-glasses-blur-all #quick-explorer,
.privacy-glasses-reveal.privacy-glasses-reveal-headlines .workspace-tab-header-inner-title,
.privacy-glasses-reveal.privacy-glasses-reveal-headlines #quick-explorer,
.privacy-glasses-reveal :is(.media-embed, .image-container) :is(img, video, svg, canvas),
.workspace-tab-header .workspace-tab-header-inner-title:hover,
.workspace-leaf-content.is-md-view-headlines-only .HyperMD-header,
.privacy-glasses-reveal :is(.cm-callout),
.privacy-glasses-reveal-all :is(.cm-callout) {
  filter: unset !important;
}